# Ignore node_modules in the frontend folder
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/.env.local

# Ignore .NET Core build artifacts in the backend folder
/backend/bin/
/backend/obj/
/backend/*.csproj.user
/backend/*.suo
/backend/.vs/

# Ignore IDE-specific files
/.idea/
/.vscode/
*.log
*.lock
